.illustrations-container {
  position: relative;
}

.illustration {
  border-radius: 50%;
  padding: 3px;
  margin-block-end: 1rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: fit-content;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

.woman-thinking {
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  background-image: url('../images/woman-thinking_800.jpg');
  background-size: cover;
  transform: scaleX(-1);
}