.illustrations-container {
  position: relative;
}

.illustration {
  border-radius: 50%;
  padding: 3px;
  margin-block-end: 1rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: fit-content;
  background-color: var(--pw-bg-color-edge, #4158D0);
  background-image: var(--pw-bg-edge);
}

.woman-thinking {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background-image: url('../images/woman-thinking_400.jpg');
  background-size: cover;
}