html {
  --pw-bg-color: white;
  --pw-bg-edge: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  --pw-button-deep-bg: linear-gradient(43deg, #4158D0 0%, #C850C0 100%);
  --pw-button-bg-shadow: linear-gradient(43deg, #4158D0 0%, #C850C0 100%);
  --pw-spacing: 1rem;
}

@media (prefers-color-scheme: dark) {
  html {
    --pw-bg-color: black;
  }
}

.dark {
  --pw-bg-color: black;
}

.light {
  --pw-bg-color: white;
}