.code-editor {
  font-size: 14px;
  border-radius: 5px;
}

.title-bar {
  display: flex;
  gap: 0.5rem;
  background-image: linear-gradient(135deg, blue, violet, orange);
  padding: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.code-wrapper {
  display: grid;
  grid-template-columns: minmax(1rem, auto) 1fr;
  padding: 1rem;
  background-color: black;
  border: var(--pw-code-editor-border);
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.line-numbers {
  padding-right: 1rem;
}

.code-content {
  width: 100%;
  overflow-x: auto;
  background-color: #000;
}

.title-bar__btn {
  width: 1rem;
  height: 1rem;
  border-radius: 50;
  background-color: white;
}

.title-bar__btn--red {
  background-color: rgb(255, 0, 106);
  box-shadow: 0px 0px 2px red;
}

.title-bar__btn--yellow {
  background-color: rgb(255, 208, 0);
  box-shadow: 0px 0px 2px rgb(117, 117, 0)
}

.title-bar__btn--green {
  background-color: rgb(33, 165, 0);
  box-shadow: 0px 0px 2px rgb(20, 100, 0);
}

.code {
  color: white;
  position: relative;
}

.code, .line-number {
  line-height: var(--pw-code-line-height);
}

.code span {
  background-color: #000;
  padding-top: var(--pw-code-spacing);
  padding-bottom: var(--pw-code-spacing);
}

.line-number {
  color: goldenrod;
  text-align: right;
}

.blue {
  color: #00e1ff;
}

.yellow {
  color: yellow
}

.green {
  color: greenyellow;
}

.pink {
  color: pink
}

.animate {
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  opacity: 0;
}

.leftIn {
  animation-name: leftIn;
}

.rightIn {
  animation-name: rightIn;
}

@keyframes leftIn {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1;}
}

@keyframes rightIn {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1;}
}

.typing {
  overflow: hidden;
  opacity: 0;
  width: 221px;
  border-right: 3px solid red;
  animation-name: typing, blink-cursor;
  animation-duration: 3s, 1s;
  animation-timing-function: steps(40, end), ease-in;
  animation-fill-mode: forwards, both;
  animation-delay: 1s, 1s;
  animation-iteration-count: 1, infinite;
}

@keyframes typing {
  from { width: 0; opacity: 1 }
  to { width: 221px; opacity: 1; }
}

@keyframes blink-cursor {
  from, to { border-color: transparent }
  50% { border-color: red }
}
