header {
  position: sticky;
  width: 100%;
  top: 0;
  background-color: var(--pw-bg-color);
  z-index: 10;  
}

.header-content {
  padding: var(--pw-spacing);
}

.colored-border {
  height: 5px;
  background-color: var(--pw-bg-color-edge, #4158D0);
  background-image: var(--pw-bg-edge);
}

.logo {
  width: 300px;
  transition: width 0.5s;
}

@media (min-width: 700px) {
  .logo {
    width: 500px;
  }

  .small {
    width: 300px;
  }
  
  main {
    margin-top: 110px;
  }
}