.illustrations-container {
  position: relative;
}

.illustration {
  border-radius: 50%;
  padding: 3px;
  margin-block-end: var(--pw-spacing, 1rem);
  margin-inline-start: auto;
  margin-inline-end: auto;
  width: fit-content;
  background-color: var(--pw-bg-color-edge, #4158D0);
  background-image: var(--pw-bg-edge);
}

.woman-thinking {
  border-radius: 50%;
  display: block;
}