@import url('./variables.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./info-code.css');
@import url('./illustrations.css');

body {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--pw-bg-color);
  color: var(--pw-text-color, white);
  font-size: var(--pw-font-size, 16px);
}

main {
  padding: var(--pw-spacing);
}

h1 {
  font-size: 1.8rem;
}

p {
  padding-top: 0;
}

.info {
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
}

